{% block content %}
    {% for travel in travels.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + travel.user_id.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
<!--              <a class="mr-2" href="{{ url_for('races.user_travels', username=travel.user_id.username) }}">{{ travel.user_id.username }}</a>-->
              <small class="text-muted">{{ travel.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('travels.travel', travel_id=travel.id) }}">{{ travel.destination }}</a></h2>
            <p class="article-content">{{ travel.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
