{% extends "layout.html" %}
{% block content %}
    <h2>{{group.nome}} - Riepilogo Attività</h2>
<div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id) }}">Imposta Attività</a>
     </div>
{% for activity in activities %}
{% if loop.index>1 %}
<article class="media content-section">
          <div class="media-body">
              {% if activities[loop.index-2].tipo!='stay' and activities[loop.index-1].tipo!='stay'%}
             <h3><a class="mr-2">Intervallo: {{activity.inizio-loop.previtem.fine}} </a></h3>
              {% elif activities[loop.index-2].tipo=='stay' and activities[loop.index-3]%}
              <h3><a class="mr-2">Riposo: {{activity.inizio-activities[loop.index-3].fine}} </a></h3>
              {% endif %}
              <div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id, previous=group.activities[loop.index-2].id, following=group.activities[loop.index-1].id) }}">Imposta Attività</a>
         </div>
          </div>
     </article>
{% endif %}
{% if activity.tipo=='stage'%}
     <article class="media content-section">
          <div class="media-body">
             <h3><a class="mr-2">{{ activity.luogo }} </a></h3>
             <h4><a>Inizio: {{activity.inizio.strftime(format='%Y-%m-%d %H:%M')}}  Fine: {{activity.fine.strftime(format='%Y-%m-%d %H:%M')}} </a></h4>
             <div class="card">
                 <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
             </div>

          </div>
     </article>
{% elif activity.tipo=='transport'%}
     <article class="media content-section">
          <div class="media-body">
             <h3><a class="mr-2">{{ activity.vettore }} da {{activity.partenza }} a {{activity.luogo}} </a></h3>
             <h4><a>Partenza: {{activity.inizio.strftime(format='%Y-%m-%d %H:%M')}}  Arrivo: {{activity.fine.strftime(format='%Y-%m-%d %H:%M')}} </a></h4>
            <div class="card">
                 <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
             </div>
          </div>
     </article>
{% elif activity.tipo=='stay'%}
     <article class="media content-section">
          <div class="media-body">
             <h3><a class="mr-2">{{ activity.struttura }} </a></h3>
             <h4><a>Pernottamento: {{activity.inizio.strftime(format='%Y-%m-%d')}} </a></h4>
            <div class="card">
                 <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
             </div>

          </div>
     </article>
{% endif %}
{% endfor %}
    <div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id) }}">Imposta Attività</a>
     </div>

{% endblock content%}
{% block feed %}
<div class="content-section">
    <ul class="nav flex-column nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Riepilogo Attività</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('groups.update_group', group_id=group.id) }}">Aggiunta Personale</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('groups.alter_group', group_id=group.id) }}">Gestione Personale</a>
  </li>
    </ul>
</div>
<div class="content-section">
    <legend class="border-bottom mb-4">Informazioni Personale</legend>
    <h3>Totale: {{group.cp+group.cpp+group.cpq}}</h3>
    <h3>CP: {{group.cp}}</h3>
    <h3>CPP: {{group.cpp}}</h3>
    <h3>CPQ: {{group.cpq}}</h3>
    {% if coordinatore!=None %}
    <h3>Coordinatore: {{coordinatore.nome}} {{coordinatore.cognome}} - lic. {{coordinatore.licenza}}</h3>
    {% endif %}
</div>
<div class="content-section">
    <legend class="border-bottom mb-4">Routines Attive</legend>
{% for routine in group.routines %}
    <div class="content-section">
    <h4>{{routine.nome}}</h4>
    <h5>Fabbisogno: {{routine.req}}</h5>
    <div class="card">
    <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_routine', group_id=group.id, routine_id=routine.id) }}">Rimuovi Routine</a>
    </div>
    </div>
{% endfor %}
    <div class="card">
              <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_allroutines', group_id=group.id) }}">Rimuovi Tutte Le Routines</a>
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_routine', group_id=group.id) }}">Imposta Routine</a>
     </div>
  </div>
</div>

{% endblock feed %}


