{% extends "layout.html" %}
{% block content %}
    <h2>Gruppi</h2>
{% for group in groups %}
     <article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
              <h3><a class="mr-2">{{ group.nome }} | Totale:   CP: CPP: CPQ: </a></h3>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('groups.update_group', group_id=group.id) }}">Modifica</a>
              <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.delete_group', group_id=group.id) }}">Elimina</a>
         </div>
         <table class="table table-hover table-responsive" align="center">
      <thead>
        <tr>
          <th scope="col">Licenza</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
            <th scope="col">Qualifica</th>
            <th scope="col">AC</th>
        </tr>
      </thead>
        {% for marshal in group.marshals %}
        <tr>
            <th scope="row">{{marshal.licenza}}</th>
            <th scope="row">{{marshal.nome}}</th>
            <th scope="row">{{marshal.cognome}}</th>
            <th scope="row">{{marshal.qualifica}}</th>
            <th scope="row">{{marshal.acrinnovo}}</th>
        </tr>
        {% endfor %}
    </table>
          </div>
     </article>
{% endfor %}
{% endblock content%}