{% extends "layout.html" %}
{% block content %}
    <h2>Riepilogo Attività {{group.nome}}</h2>

    <div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id) }}">Imposta Attività</a>
     </div>
{% for activity in group.activities %}
{% if loop.index>1 %}
<article class="media content-section">
          <div class="media-body">
              {% if group.activities[loop.index-2].tipo!='stay'%}
             <h3><a class="mr-2">BREAK: {{group.activities[loop.index-1].inizio-group.activities[loop.index-2].fine}} </a></h3>
              {% endif %}
              <div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id, previous=group.activities[loop.index-2].id, following=group.activities[loop.index-1].id) }}">Imposta Attività</a>
         </div>
          </div>
     </article>
{% endif %}
{% if activity.tipo=='stage'%}
     <article class="media content-section">
          <div class="media-body">
             <h3><a class="mr-2">{{ activity.luogo }} </a></h3>
             <h4><a>Inizio: {{activity.inizio.strftime(format='%Y-%m-%d %H:%M')}}  Fine: {{activity.fine.strftime(format='%Y-%m-%d %H:%M')}} </a></h4>
             <div class="card">
                 <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
             </div>

          </div>
     </article>
{% elif activity.tipo=='travel'%}
     <article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ activity.vettore }} da {{activity.partenza }} a {{activity.luogo}} </a></h3>
             <h4><a>Partenza: {{activity.inizio.strftime(format='%Y-%m-%d %H:%M')}}  Arrivo: {{activity.fine.strftime(format='%Y-%m-%d %H:%M')}} </a></h4>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Modifica</a>
              <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
         </div>

          </div>
     </article>
{% elif activity.tipo=='stay'%}
     <article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ activity.struttura }} </a></h3>
             <h4><a>Pernottamento: {{activity.inizio.strftime(format='%Y-%m-%d')}}}} </a></h4>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Modifica</a>
              <a class="btn btn-danger btn-sm m-1" href="{{ url_for('groups.remove_task', activity_id=activity.id, group_id=group.id) }}">Rimuovi</a>
         </div>

          </div>
     </article>
{% endif %}
{% endfor %}
    <div class="card">
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('groups.add_task', group_id=group.id) }}">Imposta Attività</a>
     </div>

{% endblock content%}



