{% extends "layout.html" %}
{% block content %}
    <h2>Impieghi</h2>
    <table class="table table-hover table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">Impiego</th>
          <th scope="col">Inizio</th>
          <th scope="col">Fine</th>
          <th scope="col">Durata</th>
          <th scope="col">Unità</th>
          <th scope="col">Assegnati</th>
        </tr>
      </thead>
        {% for activity in stagelist %}
        <tr href="#">
            <th scope="row">{{activity.luogo}}</th>
            <th scope="row">{{activity.inizio}}</th>
            <th scope="row">{{activity.fine}}</th>
            <th scope="row">{{activity.durata}}</th>
            <th scope="row">{{activity.unita}}</th>
            <th scope="row">{{activity.confermati}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}

{% block feed %}
    <h3>Stats</h3>
{% endblock feed %}

