{% extends "layout.html" %}
{% block content %}
    <h2>Routines</h2>
{% for routine in routines %}
<article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ routine.nome }} </a></h3>
             <h4><a>Fabbisogno medio personale: {{ routine.req }} </a></h4>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('routines.routine', routine_id=routine.id) }}">Modifica</a>
              <a class="btn btn-danger btn-sm m-1" href="{{ url_for('routines.delete_routine', routine_id=routine.id) }}">Elimina</a>
         </div>
                                                    <div class="card-header">{{routine.note}}</div>
          </div>
     </article>
{% endfor %}
{% endblock content %}
